*, *:befoe, *:after {
	-box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
}
section {
	padding-top: 8%;
	padding-bottom: 8%;
}
img {
  display: inline-block;
  height: auto;
  max-width: 100%;
}
p{
	white-space: pre-line;
}
button{
	outline: none !important;
}
.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler:focus {
  outline: none;
  background: transparent !important;
}

.navbar-toggler .icon-bar {
  background-color: #fff;
  transform: rotate(0deg) translate(0px, 0px);
  transition: ease all .2s;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggler .icon-bar+.icon-bar {
  margin-top: 4px;
}

.icon-bar:nth-child(2) {
  width: 16px;
  transition: ease all .2s;
}

.navbar-toggler:hover>.icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all .2s;
}

.navbar-toggler:active>.icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 4px);
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -4px);
  transition: ease all .2s;
}
.header {
	background-color: rgba(255, 255, 255, 0);
}
.navbar-toggler{
	outline: none !important;
}
.intro{
	color: #fff;
	height: 30%;
	min-height: 768px;
	background: url(../img/Intro.png) no-repeat center;
	background-size: cover;
}
.navbar-brand {
	margin-left: 15%;
}
.navbar-toggler button{
	border: none!important;
	outline: none!important;
}
.navbar-nav a{
	color: #fff;
}
.navbar-nav a{
	transition: .2s linear; 
}
.navbar-nav a:hover {
	color: #000;
}
.navbar-nav{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}
.navbar-nav li{
	font-family: 'Montserrat', sans-serif;
  	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
}
.btn-1{
	color: #f78b8b;
	width: 255px;
	height: 56px;
	font-size: 20px;
	border: 4px solid #f78b8b;
	transition: all 0.3s ease;
	margin-left: 25%;

}
.btn-1 button{
	font-size: 20px;
 font-weight: bold;
	transition: all 0.3s ease;
	border: none;
	background-color: transparent;
	border: 4px solid #f78b8b;
	width: 255px;
	height: 56px;
	background-color: white;
	color: #f78b8b;
	z-index: 5;
	position: relative;
	top: -10px;
	right: -2px;
}
button:hover, button:active, button:focus{
	outline: none;
}
.btn-1:hover, .btn-1:hover > button, .btn-1:hover{
 border: 4px solid #000;
 color: #000;
 cursor: pointer;
}

.box-bg {
	display: flex;
	width: 550px;
	height: 483px;
	background: #fff;
	border: 5px solid #f78b8b;
	margin: auto;
}
.text-intro{
	color: #000;
}
.letter{
	color: #f78b8b;
}
.text-intro > h1::before{
	content: '';
	width: 37px;
	height: 3px;
	display: inline-block;
	background-color: #f78b8b;
	vertical-align: 20px;
	margin-right: 10px;
}
.text-intro > h1{
	font-size: 70px;
	font-family: 'Montserrat', sans-serif;
	margin-top: 10%;
}
.text-intro > h6{
	color: #2f3a42;
	font-size: 37px;
	padding-left: 77px;
	font-family: 'Montserrat', sans-serif;
}
.text-intro > h3{
	font-size: 60px;
	font-family: 'Montserrat', sans-serif;
}
.square-1{
	width: 512px;
	height: 323px;
	border: 5px solid #f78b8b;
}
.square-2{
	background: url('../img/about_us_photo.png');
	background-repeat: no-repeat;
	border: 5px solid #f78b8b;
	width: 512px;
	height: 323px;
	z-index: 123;
	position: relative;
	bottom: 35px;
	left: 30px;
}
.about-us a{
	outline: none !important;
	color: #f78b8b;
	margin-left: 20%;
	transition: .2s linear;
}
.about-us a:hover {
	text-decoration: none;
	color: #000;
}
.text-about h2{
	font-size: 72px;
	font-family: 'Montserrat', sans-serif;
}
.text-about h2::before{
	content: '';
	width: 37px;
	height: 3px;
	display: inline-block;
	background-color: #f78b8b;
	vertical-align: 20px;
	margin-right: 10px;
}
.text-about p{
	font-size: 18px;
	margin-left: 20%;
}
#achievements {
	color: #fff;
	height: 30%;
	min-height: 700px;
	background: url(../img/bg2.png) no-repeat center;
	background-size: cover;
}
.letter-white{
	color: #fff;
}
.text-achievements h2{
	color: #000;
	font-size: 72px;
	font-family: 'Montserrat';
}
.text-achievements h2::before{
	content: '';
	width: 37px;
	height: 3px;
	display: inline-block;
	background-color: #fff;
	vertical-align: 20px;
	margin-right: 10px;
}
.text-achievements p{
	color: #2f3a42;
	font-size: 18px;
	padding-bottom: 60px;
	margin-left: 10%;
}
.number{
	font-size: 100px;
	font-family: 'Montserrat';
	font-weight: 900;
}

#achievements h3{
	font-size: 24px;
	color: #000;
}

/* НАЧАЛО TEAM */
.text-team h2{
	color: #000;
	font-size: 72px;
	font-family: 'Montserrat', sans-serif;
}
.text-team h2::before{
	content: '';
	width: 37px;
	height: 3px;
	display: inline-block;
	background-color: #f78b8b;
	vertical-align: 20px;
	margin-right: 10px;
}
.text-team > p{
	color: #2f3a42;
	font-size: 18px;
	margin-left: 10%;
}
.caption-1{
	padding-left: 108px;
	margin-top: 75px;

}
.caption-1 h3{
	font-size: 28px;
	font-family: "Montserrat";
	font-weight: bold;
	color: #f78b8b;
}
.caption-1 p{
	padding-left: 48px;
	font-size: 18px;
	font-weight: bold;
}
.caption-2{
	padding-left: 80px;
	margin-top: 75px;

}
.caption-2 h3{
	font-size: 28px;
	font-family: "Montserrat";
	font-weight: bold;
	color: #f78b8b;
}
.caption-2 p{
	padding-left: 125px;
	font-size: 18px;
	font-weight: bold;
}
.caption-3{
	padding-left: 156px;
	margin-top: 75px;

}
.caption-3 h3{
	font-size: 28px;
	font-family: "Montserrat";
	font-weight: bold;
	color: #f78b8b;
}
.caption-3 p{
	padding-left: 63px;
	font-size: 18px;
	font-weight: bold;
}

.square-1-team{
	width: 360px;
	height: 390px;
	border: 3px solid #f78b8b;
}
.square-2-team {
	background-image: url('../img/team_photo_1.png');
	background-repeat: no-repeat;
	width: 240px;
	height: 282px;
	border: 5px solid #f78b8b;
	position: relative;
	bottom: 405px;
	left: 117px;
}
.square-3-team {
	background-image: url('../img/team_photo_2.png');
	background-repeat: no-repeat;
	width: 240px;
	height: 282px;
	border: 5px solid #f78b8b;
	position: relative;
	bottom: 405px;
	left: 117px;
}
.square-4-team {
	background-image: url('../img/team_photo_3.png');
	background-repeat: no-repeat;
	width: 240px;
	height: 282px;
	border: 5px solid #f78b8b;
	position: relative;
	bottom: 405px;
	left: 117px;
}
.col-xl-4 {
	margin: 0 auto;
	margin-top: 10%;
}
.square-1-team a{
	display: block;
	margin-top: 35px;
	margin-left: 40px;
	margin-bottom: 10px;
	margin-right: 265px;
	content: '';
}
.square-1-team i {
	color: #000;
	transition: .4s;
}
.square-1-team i:hover {
    color: #f78b8b;
}
/* Конец TEAM */
#project{
	color: #fff;
	height: 30%;
	min-height: 700px;
	background: url(../img/bg4.png) no-repeat center;
	background-size: cover;
}
.text-project h2{
	color: #000;
	font-size: 72px;
	font-family: 'Montserrat', sans-serif;
}
.text-project h2::before{
	content: '';
	width: 37px;
	height: 3px;
	display: inline-block;
	background-color: #f78b8b;
	vertical-align: 20px;
	margin-right: 10px;
}
.square-1-project{
	width: 547px;
	height: 145px;
	position: relative;
	left: -150px;
	z-index: 207;
}
.square-1-project{
	background-color: #fff;
	border: 3px solid #f78b8b;
	margin: 0 auto;	
	bottom: 70px;
}
.square-1-project h2{
	font-size: 24px;
	padding-top: 20px;
	color: #000;
	padding-left: 30px;
}
.square-1-project p{
	font-size: 18px;
	color: #000;
	padding-left: 30px;
}
.square-1-project a{
	float: right;
	font-size: 18px;
	margin-right: 30px;
	margin-top: -40px;
}
.square-1-project a{
	color: #f78b8b;
	transition: .2s linear;
}
.square-1-project a:hover {
	text-decoration: none;
	color: #000;
}

.btn-2{
	color: #f78b8b;
	width: 195px;
	height: 56px;
	font-size: 20px;
	border: 4px solid #f78b8b;
	transition: all 0.3s ease;
}
.btn-2 button{
	transition: all 0.3s ease;
	border: none;
	background-color: transparent;
	border: 4px solid #f78b8b;
	width: 195px;
	height: 56px;
	background-color: white;
	color: #f78b8b;
	z-index: 5;
	position: relative;
	top: -10px;
	right: -2px;
}
button:hover, button:active, button:focus{
	outline: none;
}
.btn-2:hover, .btn-2:hover > button, .btn-2:hover{
 border: 4px solid #000;
 color: #000;
 cursor: pointer;
}
/* Конец hover для кнопки */
.price-span{
	font-size: 25px;
}
.square-2-price a{
	color: #f78b8b;
}
.card-body-price h2{
	color: #f78b8b;
	font-size: 36px;
}
.card-body-price h3{
	font-size: 60px;
}
.card-body-price p > span::before{
	content: '';
	width: 15px;
	height: 2px;
	display: inline-block;
	background-color: #f78b8b;
	vertical-align: 5px;
	margin-right: 10px;
}
.description-price {
	padding-left: 35px;
	font-style: italic;
	color: #2f3a42;
}
.text-price h2{
	color: #000;
	font-size: 72px;
	font-family: 'Montserrat', sans-serif;
}
.text-price h2::before{
	content: '';
	width: 37px;
	height: 3px;
	display: inline-block;
	background-color: #f78b8b;
	vertical-align: 20px;
	margin-right: 10px;
}



#testimonials{
	color: #fff;
	height: 30%;
	min-height: 840px;
	background: url(../img/bg5.png) no-repeat center;
	background-size: cover;
}
.text-testimonials{
	padding-bottom: 6%;
}
.text-testimonials h2{
	color: #000;
	font-size: 72px;
	font-family: 'Montserrat', sans-serif;
}
.text-testimonials h2::before{
	content: '';
	width: 37px;
	height: 3px;
	display: inline-block;
	background-color: #fff;
	vertical-align: 20px;
	margin-right: 10px;
}
.text-testimonials p{
	color: #2f3a42;
	font-size: 18px;
	margin-left: 10%;
}
/* ТУТ ОТЗЫВЫ */
.content-testimonials{
	background-color: #fff;
	outline: none;
	margin: 0 auto;
}
.content-testimonials h2{
	color: #000;
	margin-left: 12%;
}
.content-testimonials h5{
	color: #000;
	margin-left: 12%;
	margin-bottom: 4%
}
.content-testimonials p{
	display: flex;
	justify-content: center;
	align-items: center;
	font-style: italic;
	color: #000;
	padding: 20px 100px 20px 100px;
	font-family: 'Montserrat', sans-serif;
}
.content-testimonials i{
	position: relative;
	bottom: 50px;
	color: #f78b8b;
}
@media only screen and (min-width: 480px) and (max-width: 991px),
only screen and (min-device-width: 480px) and (max-device-width: 991px) {
  .content-testimonials i{
  	bottom: 100px;
  }
  .fa-2x{
  	font-size: 25px !important;
  }
}
@media only screen and (min-width: 480px) and (max-width: 991px),
only screen and (min-device-width: 480px) and (max-device-width: 991px) {
  .content-testimonials h2{
	color: #000;
	margin-left: 12%;
	padding-left: 50px;
}
.content-testimonials h5{
	color: #000;
	margin-left: 12%;
	margin-bottom: 4%;
	padding-left: 50px;
}
}
/* КОНЕЦ */
.text-faq h2{
	color: #000;
	font-size: 72px;
	font-family: 'Montserrat', sans-serif;
}
.text-faq h2::before{
	content: '';
	width: 37px;
	height: 3px;
	display: inline-block;
	background-color: #f78b8b;
	vertical-align: 20px;
	margin-right: 10px;
}
.text-faq p{
	color: #2f3a42;
	font-size: 18px;
	margin-left: 10%;
}
/* Аккордион */
#accordion{
	margin-top: 85px;
}
.card{
	border:none !important;
}
.card-header{
		background: rgba(255, 255, 255, 0.2)!important;
		border-bottom: none !important;
		border-top: 2px solid #fbcdcd;
}
.btn-link:before {
  content: '';
  position: absolute;
  display: block;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
}
.card a[aria-expanded="true"]{
  color: #f78b8b!important;
}
.line {
	border: 6px solid #f78b8b;
}
/* ПОРТФОЛИО */
.nav-por{
	display: block;
	list-style: none;
}  
.nav-por li{
	display: inline-block;
	border-radius: 5px;
	border: 1px solid transparent;
}
.nav-por li:hover {
	background: none;
	border: 1px solid #f78b8b;
}
.nav-por a {
	color: #aaa;
} 
.nav-por a:hover {
	text-decoration: none;
	color: #f78b8b;
}
.nav-por{
	margin-left: 8%;
}
.text-portfolio h2{
	color: #000;
	font-size: 72px;
	font-family: 'Montserrat', sans-serif;
}
.text-portfolio h2::before{
	content: '';
	width: 37px;
	height: 3px;
	display: inline-block;
	background-color: #f78b8b;
	vertical-align: 20px;
	margin-right: 10px;
}

/* GALLERY */
.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; 
   }
.pics img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.pics:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

@media (max-width: 450px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}
#lz-container {
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  white-space: nowrap;
  position: absolute;
  z-index: 9999990 !important;
}

#lz-box {
  position: fixed;
  height: 100%;
  width: 100%;
  line-height: 1px;
  text-align: center;
  display: inline-block;
  z-index: 9999998 !important;
}

#lz-overlay {
  display: block;
  opacity: 0.6;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999991 !important;
}

#lz-box:before {
  content: "";
  display: inline-block;
  height: 50%;
  width: 1px;
  margin-right: -1px;
}

#lz-box img {
  float: none;
  display: inline-block;
  max-height: 80%;
  max-width: 100%;
  margin: 0;
  padding: 5px !important;
  width: auto;
  height: auto;
  vertical-align: middle;
  opacity: 0;
  position: relative;
  z-index: 9999995 !important;
}

#lz-box p {
  position: relative;
  bottom: 0;
  margin-top: -30px;
  margin-bottom: 0;
  line-height: 20px;
  font-size: 18px;
  z-index: 9999997 !important;
}

#lz-close:hover {
  opacity: 1;
}

#loading-center {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 9999999 !important;
}

#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 150px;
  width: 150px;
  margin-top: -75px;
  margin-left: -75px;
}

.object {
  width: 20px;
  height: 20px;
  background-color: #FFF;
  float: left;
  margin-right: 20px;
  margin-top: 65px;
  -moz-border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
}

#object_one {
  -webkit-animation: object_one 1.5s infinite;
  animation: object_one 1.5s infinite;
}

#object_two {
  -webkit-animation: object_two 1.5s infinite;
  animation: object_two 1.5s infinite;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

#object_three {
  -webkit-animation: object_three 1.5s infinite;
  animation: object_three 1.5s infinite;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@-webkit-keyframes object_one {
  75% {
    -webkit-transform: scale(0);
  }
}

@keyframes object_one {
  75% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}

@-webkit-keyframes object_two {
  75% {
    -webkit-transform: scale(0);
  }
}

@keyframes object_two {
  75% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}

@-webkit-keyframes object_three {
  75% {
    -webkit-transform: scale(0);
  }
}

@keyframes object_three {
  75% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}

.btn-3{
	color: #f78b8b;
	width: 231px;
	height: 56px;
	font-size: 20px;
	border: 4px solid #f78b8b;
	transition: all 0.3s ease;
	margin:0 auto;
}
.btn-3 button{
	transition: all 0.3s ease;
	border: none;
	background-color: transparent;
	border: 4px solid #f78b8b;
	width: 231px;
	height: 56px;
	background-color: white;
	color: #f78b8b;
	z-index: 5;
	position: relative;
	top: -10px;
	right: -2px;
}
button:hover, button:active, button:focus{
	outline: none;
}
.btn-3:hover, .btn-3:hover > button, .btn-3:hover{
 border: 4px solid #000;
 color: #000;
 cursor: pointer;
}

/* FOOTER */
footer{
	color: #fff;
	height: 30%;
	min-height: 768px;
	background: url(../img/bg-footer.png) no-repeat center;
	background-size: cover;
}
footer h2{
	margin-top: 140px;
}
.footer-form{
position: relative;
right: 10%;
}
.mat-label {
  display: block;
  font-size: 16px;
  transform: translateY(25px);
  color: #e2e2e2;
  transition: all 0.5s;
}

.mat-input {
  position: relative;
  background: transparent;
  width: 100%;
  border: none;
  outline: none;
}

.mat-div {
  padding: 30px 0 0 0;
  position: relative;
}

.mat-div:after, .mat-div:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #e2e2e2; 
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}

.mat-div::after {
  background-color: #000;
  transform: scaleX(0);
}

.is-active::after {
  transform: scaleX(1);
}

.is-active .mat-label {
  color: #fff;
}

.is-completed .mat-label {
  font-size: 30px;
  transform: translateY(0);
}
/* Hover для кнопки */
.btn-4{
	background-color: #f46464;
	width: 267px;
	height: 56px;
	font-size: 20px;
	border: 4px solid #fff;
	transition: all 0.3s ease;
}
.btn-4 button{
	transition: all 0.3s ease;
	background-color: transparent;
	border: 4px solid #fff;
	width: 267px;
	height: 56px;
	background-color: #f46464;
	color: #fff;
	z-index: 5;
	position: relative;
	top: -10px;
	right: -2px;
}
button:hover, button:active, button:focus{
	outline: none;
}
.btn-4:hover, .btn-4:hover > button, .btn-4:hover{
 border: 4px solid #000;
 color: #000;
 cursor: pointer;
}
/* Конец hover для кнопки */
.contact {
	margin-left: 20%;
}
.contact h5, h6 {
	font-size: 30px;
}
.contact a{
	color: #fff;
	transition: 0.2s;
}
.contact a:hover { 
	color: #000;
	text-decoration: none;
} 
.headhesive {
	background-color: #f78b8b;
	position: fixed;
	width: 100%;
	transform: translateY(-100%);
	z-index: 1000;
	transition: 1s;
}
.headhesive--stick {
	transform: translateY(0);
}
.about-modal-content{
	padding: 20px;
}
.about-modal-content p{
	font-size: 14px;
}
.square-3{
	width: 345px;
	height: 218px;
	border: 2px solid #f46464;
}
.square-4{
	background: url('../img/about_us_photo.png');
	background-repeat: no-repeat;
	border: 2px solid #f46464;
	width: 345px;
	height: 218px;
	z-index: 123;
	position: relative;
	bottom: 20px;
	left: 20px;
}
.about-modal-content h3{
	font-family: 'Montserrat';
	font-weight: bold;
	font-size: 30px;
	color: #f46464;
}
.about-modal-content h4{
	font-weight: bold;
}
.about-modal-content h5{
	font-family: 'Helvetica';
	text-transform: uppercase;
	font-size: 24px;
}
.about-modal-content h6{
	font-family: "Helvetica";
	font-size: 18px;
}
.anycolor {
	font-size: 36px;
	font-family: "Montserrat";
	color: #f46464;
	font-weight: bold;
	text-transform: uppercase;
}
.close{
	position: relative;
	right: -735px;
    bottom: 20px;
	width: 40px;
	height: 40px;
	color: #f46464!important;
	font-size: 2.5rem !important;
}
.btn-buy{
	margin:30px;
	margin-right: 140px;
	color: #f78b8b;
	width: 190px;
	height: 50px;
	font-size: 20px;
	border: 4px solid #f78b8b;
	transition: all 0.3s ease;
}
.btn-buy button{
	transition: all 0.3s ease;
	border: none;
	background-color: transparent;
	border: 4px solid #f78b8b;
	width: 190px;
	height: 50px;
	background-color: white;
	color: #f78b8b;
	z-index: 5;
	position: relative;
	top: -10px;
	right: -2px;
}
button:hover, button:active, button:focus{
	outline: none;
}
.btn-buy:hover, .btn-buy:hover > button, .btn-buy:hover{
 border: 4px solid #000;
 color: #000;
 cursor: pointer;
}
.modal-header{
	background-color: #f46464;
}
.modal-header > span{
	color: #fff;
	margin-left: 25%;
}
.modal-header h5{
	font-family: "Helvetica";
	font-size: 18px;
}
.modal-header h3{
	font-size: 24px;
	font-family: "Helvetica";
}
.modal-footer {
	border: 0 !important;
}
/* The radio */
.radio {
    display: block;
    position: relative;
    margin-left: 65px;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkround {
    position: absolute;
    top: 6px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff ;
    border-color:#cd5454;
    border-style:solid;
    border-width:2px;
    border-radius: 50%;
}
.radio input:checked ~ .checkround {
    background-color: #fff;
}
.checkround:after {
    content: "";
    position: absolute;
    display: none;
}
.radio input:checked ~ .checkround:after {
    display: block;
}
.radio .checkround:after {
    left: 2px;
    top: 2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background:#cd5454;
}

.mat-input-buy {
  position: relative;
  background: transparent;
  width: 320px;
  margin-left: 70px;
  border: none;
  outline: none;
}

.mat-div-buy {
  padding: 30px 0 0 0;
  position: relative;
}

.mat-div-buy:after, .mat-div-buy:before {
  content: "";
  position: absolute;
  margin-left: 70px;
  display: block;
  width: 320px;
  height: 2px;
  background-color: #c3c4c3; 
  bottom: 0;
  left: 0;
}
.mat-div-buy-expiry {
  padding: 30px 0 0 0;
  position: relative;
}
.mat-input-buy-expiry {
  position: relative;
  background: transparent;
  width: 115px;
  margin-left: 70px;
  border: none;
  outline: none;
}

.mat-div-buy-expiry:after, .mat-div-buy-expiry:before {
  content: "";
  position: absolute;
  margin-left: 70px;
  display: block;
  width: 115px;
  height: 2px;
  background-color: #c3c4c3;
  bottom: 0;
  left: 0;
}
.mat-div-buy-code {
  padding: 30px 0 0 0;
  position: relative;
}
.mat-input-buy-code {
  position: relative;
  background: transparent;
  width: 100px;
  margin-left: 27px;
  border: none;
  outline: none;
}

.mat-div-buy-code:after, .mat-div-buy-code:before {
  content: "";
  position: absolute;
  margin-left: 27px;
  display: block;
  width: 130px;
  height: 2px;
  background-color: #c3c4c3; 
  bottom: 0;
  left: 0;
}